.poll{
    display: flex;
    flex-direction: column;
    border: 2px solid #fec400;
    border-radius: 10px;
    padding:20px;
    width: 70%;
    margin:20px;
    
    

}

/* .button */
.answer{    
    color:black ;
    width: 100%;
    border: 0.5px solid #fec400;
    border-radius: 3px;
    margin: 7px;
    text-align: center;
    opacity:'0.1';      
    padding:" 4px",
}
.footerPoll{
    display: flex;
    justify-content: space-between;
}
